@font-face {
  font-family: "JakartaSans - Regular";
  src: url("./assets//fonts/PlusJakartaSans-Regular.woff2");
}

@font-face {
  font-family: "JakartaSans - Bold";
  src: url("./assets//fonts/PlusJakartaSans-Bold.woff2");
}

@font-face {
  font-family: "JakartaSans - Medium";
  src: url("./assets//fonts/PlusJakartaSans-Medium.woff2");
}

:root {
  --bg-colour: "";
  --text-colour: "";
  --controls-colour: "";
  /* https://pigment.shapefactory.co/?a=FFFA66&b=142842 */
}

body {
  font-family: "JakartaSans - Medium";
  background: var(--bg-colour);
  padding: 0;
  margin: 0;
}

.inputs {
  display: flex;
  align-items: center;
}

.rating {
  font-family: "JakartaSans - Bold";
  color: var(--text-colour);
  padding: 0 0.5em;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4em;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.title {
  font-size: 0.5em;
  flex: 1;
  text-align: center;
}

.title h1 {
  margin: 0;
  color: var(--controls-colour);
}

.close {
  width: 0.8em;
  background: #e24f4e;
  border-radius: 1em;
  display: flex;
  fill: rgba(0, 0, 0, 0);
  transition: fill 100ms ease-in-out;
}

.close:hover {
  fill: rgba(0, 0, 0, 0.7);
  transition: fill 100ms ease-in-out;
}

.rating-icon {
  width: 1.5em;
  display: flex;
  margin-right: 0.5em;
  fill: var(--controls-colour);
}

.rating-icon .single,
.rating-icon .multiple,
.rating-icon .fail {
  width: 1.5em;
}

.rating-icon #fail {
  display: none;
}

.picker {
  padding: 0 0.4em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-colour);
  border: 2px solid var(--controls-colour);
  border-radius: 0.3em;
  margin-right: 0.5em;
}

.picker svg {
  width: 1.5em;
  fill: var(--controls-colour);
}

.picker-inner {
  display: flex;
  margin-right: 0.4em;
}

.hex {
  background: var(--bg-colour);
  height: 1.3em;
  min-width: 4em;
  padding: 0 0.4em;
  border: 2px solid var(--controls-colour);
  border-radius: 0.3em;
}

input.hex {
  width: 5em;
  font-family: "JakartaSans - Medium";
  color: var(--controls-colour);
  font-size: 1em;
  text-transform: uppercase;
}
